<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header"><%= t("agreement") %>
                <small><%= t("terms") %></small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to t("home"), root_path %>
                </li>
                <li class="active"><%= t("terms") %></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
          <p><%= t("legal_0A") %></p>
          <p><%= t("legal_0B") %></p>
          <p><%= t("legal_0C") %></p>
        <ol>
            <li>
                <strong><%= t("legal_1") %></strong>
                <p><%= t("legal_1A") %></p>
                <p><%= t("legal_1B") %></p>
                <p><%= t("legal_1C") %></p>
            </li>
            <li>
                <strong><%= t("legal_2") %></strong>
                <p><%= t("legal_2A") %></p>
                <p><%= t("legal_2B") %></p>
            </li>
            <li>
                <strong><%= t("legal_3") %></strong>
                <p><%= t("legal_3A") %></p>
                <p><%= t("legal_3B") %></p>
                <p><%= t("legal_3C") %></p>
                <p><%= t("legal_3D") %></p>
            </li>
            <li>
                <strong><%= t("legal_4") %></strong>
                <p><%= t("legal_4A") %></p>
                <p><%= t("legal_4B") %></p>
            </li>
            <li>
                <strong><%= t("legal_5") %></strong>
                <p><%= t("legal_5A") %></p>
                <p><%= t("legal_5B") %></p>
            </li>
            <li>
                <strong><%= t("legal_6") %></strong>
                <p><%= t("legal_6A") %></p>
                <p><%= t("legal_6B") %></p>
            </li>
            <li>
                <strong><%= t("legal_7") %></strong>
                <p><%= t("legal_7A") %></p>
                <p><%= t("legal_7B") %></p>
            </li>           
            <li>
                <strong><%= t("legal_8") %></strong>
                <p><%= t("legal_8A") %></p>
                <p><%= t("legal_8B") %></p>
            </li>
        
        </ol>

          <p><%= t("legal_declare") %></p>
          <p><%= t("legal_declare_2") %></p>
          <p><%= t("legal_declare_1") %></p>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->