<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top"  onclick = $("#menu-close").click(); >醫療護送</a>
        </li>
        <li>
            <a href="#top" onclick = $("#menu-close").click(); >主頁</a>
        </li>
        <li>
            <a href="#about" onclick = $("#menu-close").click(); >關於我們</a>
        </li>
        <li>
            <a href="#services" onclick = $("#menu-close").click(); >服務</a>
        </li>
        <li>
            <a href="#portfolio" onclick = $("#menu-close").click(); >組合</a>
        </li>
        <li>
            <a href="#contact" onclick = $("#menu-close").click(); >聯絡我們</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
      <h1><%= t("brand") %></h1>
      <h3><%= t("our_services") %></3>
        <br><br>
        <% if user_signed_in? %>
            <%= link_to t('details'), bookings_path, class: "btn btn-warning btn-lg" %>
        <% else %>
            <%= link_to t("sign_in"), new_user_session_path, class: "btn btn-warning btn-lg" %>
            <%= link_to t("partner_up"), new_user_registration_path(:role => :partner), class: "btn btn-warning btn-lg" %>
        <% end %>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
              <h2><%= t("our_services1") %></h2>
                <p class="lead"><%= t("our_services2") %></a></p>
              <%= link_to t('about'), page_path('about'), class: "btn btn-warning btn-lg" %>
              <%= link_to t('FAQ'), partner_faq_path, class: "btn btn-warning btn-lg" %>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
              <h2><%= t("services_scope") %></h2>
                <hr class="small">
                <div class="row">

                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-ambulance fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                              <strong><%= t("services_1A") %></strong>
                            </h4>
                            <p><%= t("services_1B") %></p>
                            <% if user_signed_in? %>
                                <%= link_to t('details'), bookings_path, class: "btn btn-warning btn-lg" %>
                            <% else %>
                                <%= link_to t("partner_up"), new_user_registration_path(:role => :partner), class: "btn btn-warning btn-lg" %>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-hospital-o fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong><%= t("services_2A") %></strong>
                            </h4>
                            <p><%= t("services_2B") %></p>
                            <% if user_signed_in? %>
                                <%= link_to t('details'), bookings_path, class: "btn btn-warning btn-lg" %>
                            <% else %>
                                <%= link_to t("partner_up"), new_user_registration_path(:role => :partner), class: "btn btn-warning btn-lg" %>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-user-md fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong><%= t("services_3A") %></strong>
                            </h4>
                            <p><%= t("services_3B") %></p>
                            <% if user_signed_in? %>
                                <%= link_to t('details'), bookings_path, class: "btn btn-warning btn-lg" %>
                            <% else %>
                                <%= link_to t("partner_up"), new_user_registration_path(:role => :partner), class: "btn btn-warning btn-lg" %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>



<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
              <h2><%= t("work_scope") %></h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="#">
                                <%= image_tag("nursing5.jpg", :alt => "rss feed", :class =>"img-portfolio img-responsive") %>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="#">
                                <%= image_tag("nursing1.jpg", :alt => "rss feed", :class =>"img-portfolio img-responsive" )%>
                            </a>
                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="#">
                                <%= image_tag("nursing2.jpg", :alt => "rss feed", :class =>"img-portfolio img-responsive") %>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
<!--                <a href="#" class="btn btn-dark">更多</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action -->

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong><%= t("brand") %></strong>
                </h4>
              <p><%= t("address_1") %><br><%= t("address_2") %></p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (852) 9314-8325</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:info@letsapp.mobi">info@letsapp.mobi</a>
                    </li>
                </ul>

                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Custom Theme JavaScript -->
<script>
// Closes the sidebar menu
$("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});

// Opens the sidebar menu
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});

// Scrolls to the selected menu item on the page
$(function() {
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
});
</script>
