<div class="authform">

<!--Booking Record Info-->

    <p><strong><%= t('customer') %>: </strong><%= @booking.user.name %></p>
    <% if !current_user.customer?  %>
      <p><strong><%= t('customer_rating') %>: </strong><%= @booking.user.rating %></p>
    <% end %>
  
    <p><strong><%= t('order_time') %>: </strong><%= @booking.order_datetime.strftime("%d/%m/%Y - %l:00 %p") %></p>
    <p><strong><%= t('duration') %>: </strong><%= @booking.hours %> <%= t('hours') %></p>

    <p><strong><%= t('location') %>: </strong>
    <% if @booking.hospital %>
      <%= I18n.t :"hospitals.#{@booking.hospital}" %>
    <% end %>
    <%= @booking.location %></p>

    <% if current_user.admin? or current_user.customer? %>
      <p><strong><%= t('fee') %>: </strong><%= number_to_currency(@booking.fee, precision: 0) %> (<%= t_enum(@booking, :payment) %>) </p>
    <% end %>
    <% if current_user.admin? or current_user.partner? %>
      <p><strong><%= t('cost') %>: </strong><%= number_to_currency(@booking.cost, precision: 0) %></p>
    <% end %>
  
    <% if !current_user.partner? or !@booking.NotPaid? %>
      <p><strong><%= t('contact') %>: </strong><%= @booking.contact_person %></p>
      <p><strong><%= t('phone_no') %>: </strong><%= @booking.contact_phone_no %></p>
    <% end %>
  
    <p><strong><%= t('preferred_language') %>: </strong><%= @booking.preferred_language %></p>

    <% if @booking.nurse %>
      <p> <strong><%= t('nurse') %>: </strong><%= @booking.nurse.name %> (<%= t('nurse_rating') %>: <%= @booking.nurse.rating %>) </p>
      <div><%= image_tag @booking.nurse.image.url(:thumb), class: "img-responsive img-thumbnail img-circle" %></div>
    <% end %>
  
    <% if !current_user.customer? or !@booking.NotPaid? %>
      <% if @booking.nurse %>
      <p><strong><%= t('nurse_phone_no') %>: </strong><%= @booking.nurse.phone_no %></p>
      <% end %>  
    <% end %>
  
    <p><strong><%= t('status') %>: </strong><%= t_enum(@booking, :status) %> </p>
  
    <% if current_user.admin? %>
      <p> <strong>Stripe Token: </strong><%= @booking.payment_token %> </p>
    <% end %>

    <% if @booking.Cancelled? and @booking.cancellation_datetime%>
      <p> <strong><%= t('cancel_time') %>: </strong><%= @booking.cancellation_datetime.strftime("%d/%m/%Y - %l:%M %p") %> </p>
      <% if @booking.refunded? %>
        <p> <strong><%= t('refund_amount') %>:</strong> HK$ <%= @booking.refund_amount %> <%= t('was_refunded') %> </p>
      <%else %>
        <p> <strong><%= t('refund_amount') %>:</strong> HK$ <%= @booking.refund_amount %> <%= t('will_be_refunded') %> </p>
      <% end %>
    <% end %>
  
  <% if  current_user.customer? and @booking.Matched? %>
    <%= render @booking.charges %>
    <%= render 'charges/form' %>
  <% end %>
  
<!--Booking Record Info-->
  

  