<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Dear <%= @partner.name %></h2>
    <p>
      Please be informed that a bew booking was posted.  
      The following is the new booking details. 
    </p>
    
    <br><br>
    <p><strong>Time:</strong>     <%= @booking.order_datetime.strftime("%l %p %d/%m/%Y") %> for <%= @booking.hours %> hours</p>
    <p><strong>Location:</strong> <%= @booking.hospital %> <%= @booking.location %></p>
    <p><strong>Income:</strong>   <%= number_to_currency(@booking.cost, precision: 0)  %> </p>
    <p><strong>Status:</strong>   <%= @booking.status %></p>
    <p><strong>Payment:</strong>  <%= @booking.payment %></p>
    <br><br>

    <p>
      Should you be available, please pick the booking before someone does.  
      Thanks for using our services and have a great day!</p>
    <br><br>
    <p>Regards</p>
    <p>Customer Service</p>
    <p>Lets Nurse</p>
  </body>
</html>
